@model MalariaBackend.Models.Cause

@{
    ViewBag.Title = "Details";
}
<head>
    <link href="~/PortView/css/style.css" rel='stylesheet' type='text/css' />

    <link href="//fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700" rel="stylesheet">
</head>

<h2>Details</h2>

<div>
    <h4>Cause</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cause_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cause_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cause_Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cause_Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.About_Malaria.Malaria_Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.About_Malaria.Malaria_Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Cause_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
