@model MalariaBackend.Models.Symptom

@{
    ViewBag.Title = "Details";
}
<head>
    <link href="~/PortView/css/style.css" rel='stylesheet' type='text/css' />

    <link href="//fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700" rel="stylesheet">
</head>

<h2>Details</h2>

<div>
    <h4>Symptom</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Symptom_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Symptom_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Symptom_Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Symptom_Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sign_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sign_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sign_Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sign_Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.About_Malaria.Malaria_Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.About_Malaria.Malaria_Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Symptom_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
